@font-face{
    font-family: myFont;
    src: url('Montsterrat.ttf');
}
div {
    font-family: myFont;
}

html{
    scroll-behavior: smooth;
    
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(images/spin.svg)
    no-repeat center;
    z-index: 99999;
}
.navbar-nav ul li{
    text-decoration: none;
    list-style: none;
}
.navbar-nav ul {
    display: inline-flex!important;
} */
.navbar-nav a:hover{
  color: green!important;
}
nav li{
    text-align: center;
    text-transform: uppercase;
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: green;
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: green !important;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,body{
    position: relative;
    overflow-x: hidden;
}

body {
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:17px!important;
}

 .carousel-indicators li{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%!important;
    margin-left: 10px!important;
}
 .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 40px!important;
    height: 40px!important;
}
 .car-top {
    top: 0;
    bottom: auto;
}
 .car-middle{
    padding-bottom: 250px!important;
}
 h1{
    font-weight: 500!important;
}

.wrapper{
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;
}
.a-dot{
    color: rgb(92, 90, 90);
}
.a-card{
    padding: 0 3%!important;
}
.a-head{
    font-weight: 700!important;
}
@media (max-width:576px){ 
    .a-card{
        width: 50%!important;
        padding:0!important;
    }  
    .a-dot{
        display: none;
    }
}
@media (max-width:600px){
    .a-text{
        width: 95%;
    }
}
@media (max-width:426px){
    .a-text{
        font-size: 15px;
    }
    .a-card{
        width: 70%!important;
    }
}
@media (max-width:350px){
    .a-card{
        width: 100%!important ;
    }
    .a-head h1{
    font-size: 30px!important;
    }
}


.f-block .d-flex {
    padding: 2% 0;
}
h5.section-title {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    font-weight: 300;
    padding-top: 1.5rem;
}
h5.section-title:before{
    content: '';
    left: 0px;
    position: absolute;
    height: 4px;
    right: 50%;
    bottom: -20px;
    background-color: green;
}
@media (max-width:1025px){
    .f-text {
        font-size: 18px!important;     
    }
    .f-num{
        font-size: 25px!important;
    }   
}

@media (max-width:800px){
    .f-text {
        font-size: 17px!important;   
    }
    .f-num{
        font-size: 25px!important;
    }
}
@media (max-width:576px){
.f-block .d-flex {
    padding: 0% 10%;
}
.four .f-head .col-lg-4 {
    font-size: 25px!important;
    text-align-last: center;
}
}
@media (max-width:426px){
.f-num{
    font-size: 30px!important;
}
.f-text{
    font-size: 15px!important;
    padding-top: 2px!important;
}
.five-text{
    text-align-last: center!important;
}
}

.five-head{
    font-size: 20px;
}

/* products page css */

#footer{
    font-size: 20px !important;
    padding: 50px 0;
}


@media (min-width: 768px) {

    .car-2 .carousel-inner .active,
    .car-2 .carousel-inner .active + .carousel-item,
    .car-2 .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .car-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .car-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .car-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .car-2 .carousel-inner .carousel-item-next,
    .car-2 .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .car-2 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    .car-2 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .car-2 .carousel-item-next.carousel-item-left + .carousel-item,
    .car-2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .car-2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    .car-2 .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    } 
    
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/* testimonial slider */

body {
    height: 100%;
    /* background-color: rgb(44, 44, 44) */
}

p {
    font-size: 14px;
    line-height: 20px !important;
    font-weight: 500
}

.small {
    letter-spacing: 0.5px !important
}

.container {
    margin-top: 50px
}

.card-header {
    min-height: 11rem;
    background-image: url(images/tes.png);
}

h6 {
    color: #333;
}

.card {
    background: #E6E7E9;
}

.img-1 {
    position: relative;
    width: 200px;
    height: auto;
    border-radius: 50%;
    top: -127px !important;
    box-shadow: teal;
}

.quotes {
    position: relative;
    top: -90px
}

.quotes-img {
    widows: 50px;
    height: auto
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    margin: 0 15px 18px 15px;
    color: #333;
    background-color: teal !important;
    top: -10px;
    position: relative
}

#carouselExampleIndicators {
    box-shadow: -5px 15px 25px rgba(7, 7, 7, 0.5) !important
}
/* 
.carousel-inner {
    border-radius: 15px !important
} */

.frow{
    margin-left: 15%!important;
}
@media (max-width:450px){
    .frow{
        margin-left: 0!important;
    }
    .frow .col-sm-6 {
        justify-content: center!important;
        text-align: center!important;
    }
}


.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.carousel-item .carousel-caption{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.frst-part {
    position: relative;
    text-align: center;
    color: white;
  }